@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply text-white outline-none;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
